@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
:root {
  --nblack: #0f0f0f;
  --nwhite: #f8f8f8;
}

body {
  margin: 0;
  background: var(--nblack);
  color: var(--nwhite);
  font-family: "Oswald", sans-serif;
}

button {
  border: 1px solid var(--btnshad);
  border-radius: 10px;
  padding: 10px;
  transition: all 200ms;
}

button:hover {
  background-color: #b7b7b7;
  cursor: pointer;
}

#title {
  text-align: center;
  color: #fff;
}

#game-body {
  margin: 0 auto;
  width: 30em;
  display: none;
  text-align: center;
}

.game-button {
  width: 3em;
  height: 3em;
  margin: 5px;
  font-size: 50px;
  transition: all 200ms;
  box-sizing: border-box;
}

.game-button:hover {
  background-color: #aaa;
  border: 5px solid #777;
}

.center {
  margin: 0 auto;
  text-align: center;
}

#game-modal {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

#game-card {
  width: 500px;
  height: 20%;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  position: relative;
  top: 3em;
  background-color: #fff;
  color: #000;
}

#resetbtn {
  display: block;
  margin: 0 auto;
  border: 1px solid #000000;
  background-color: #3a7041;
  border-radius: 0;
  border: 1px solid #fff;
  width: 100px;
  height: 60px;
  transition: all 400ms;
  color: #fff;
}

#resetbtn:hover {
  background-color: #0aa521;
}

#playerinfo {
  margin-top: 10px;
}

input {
  border-radius: 5px;
  width: 150px;
  height: 30px;
  padding: 5px;
  margin: 0 5px;
}

#playerturn {
  display: none;
}

.winner {
  background-color: #ffee00;
}

.animate {
  animation: 500ms fade 1;
}

.animate-btn {
  animation: 1s blacktow 1;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blacktow {
  from {
    background-color: #000;
    transform: rotate(0deg);
  }
  to {
    background-color: #fff;
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 980px) and (min-width: 640px) {
  #game-body {
    width: 15em;
    height: 210px;
  }

  .game-button {
    width: 2em;
    height: 2em;
    font-size: 30px;
    padding: 0;
  }

  #game-card {
    width: 200px;
    height: 7em;
    font-size: 0.9em;
  }

  #resetbtn {
    margin-top: 0;
    padding: 0;
    width: 5em;
    height: 2.5em;
  }

  p {
    margin: 0.3em auto;
  }
}

@media screen and (max-width: 640px) {
  #game-body {
    width: 10em;
    height: 126px;
  }

  .game-button {
    width: 2em;
    height: 2em;
    margin: 1px;
    font-size: 20px;
    padding: 0;
  }

  #game-card {
    width: 200px;
    height: 7em;
    font-size: 0.9em;
  }

  #resetbtn {
    margin-top: 0;
    padding: 0;
    width: 5em;
    height: 2.5em;
  }

  p {
    margin: 0.2em auto;
  }
}
